.buttons {
    margin-top: 20px;
}
.primary {
    font-size: 30px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #4263EB;
    border-radius: 8px;
}

.primary:hover {
    background: #2342C0;
    cursor: pointer;
}

.primary:active {
    cursor: grab;
}

.primary:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.secondary {
font-size: 30px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #7048E8;
border-radius: 8px;
}

.secondary:hover {
    background: #5028C6;
    cursor: pointer;
}

.secondary:active {
cursor: grab;
}

.secondary:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.alternate {
font-size: 30px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: white;
border: 1px solid #ACB5BD;
border-radius: 8px;
}

.alternate:hover {
    border: 1px solid #212429;
    cursor: pointer;
}

.alternate:active {
    cursor: grab;
}

.alternate:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}