.button {
    font-family: 'Roboto';
    margin: 20px;
}

.button_primary {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #4263EB;
    color: white;
    border-radius: 8px;    
}

.button_primary:hover {
    background: #2342C0;
    cursor: pointer;
}

.button_primary:active {
    cursor: grab;
}

.button_primary-disabled {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #4263EB;
    color: white;
    border-radius: 8px;
    cursor: not-allowed;
    opacity: 0.5;
}

.button_secondary {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #7048E8;
    color: white;
    border-radius: 8px;
}

.button_secondary:hover {
    background: #5028C6;
    cursor: pointer;
}

.button_secondary:active {
    cursor: grab;
}

.button_secondary-disabled {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #7048E8;
    color: white;
    border-radius: 8px;
    cursor: not-allowed;
    opacity: 0.5;
}

.button_alternate {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: white;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.button_alternate:hover {
    border: 1px solid #212429;
    cursor: pointer;
}

.button_alternate:active {
    cursor: grab;
}

.button_alternate-disabled {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: white;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    cursor: not-allowed;
    opacity: 0.5;
}